@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root {
  --primaryColor: #02B3E4;
  --lightGrey: #9C9C9C;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
